@import 'mixins';
@import 'vars';

.loading {
    &-action {
        &-button {
            border-radius: 10px !important;
            height: 40px !important;

            h3,
            h4 {
                margin: 0 !important;
            }
        }

        &-button:hover,
        &-button:active {
            background-color: $color-border !important;
        }

        &-dropdown {
            background-color: $color-white;
            border: 0;
            border-radius: 10px !important;
            padding: 10px !important;
            filter: drop-shadow($color-border-dark 0 0 5px);
        }

        &-item {
            color: black !important;
            background-color: $color-white;
            height: 36px;
            gap: 10px;

            .anticon {
                width: 15px;
            }
        }

        &-item:first-of-type {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &-item:last-of-type {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}