@import 'mixins';
@import 'vars';

.loading {
    &-action {
        &-button {
            h3,
            h4 {
                margin: 0 !important;
            }
        }

        &-button:hover,
        &-button:active {
            background-color: $color-border !important;
        }

        &-dropdown {
            width: max-content;
        }

        &-item {
            gap: 10px;

            .anticon {
                width: 15px;
            }
        }
    }
}